.su-select {
    position: relative;
    width: 250px;
    // @extend .text-xsmall;

    .icon {
        position: absolute;
        top: 2px;
        right: 5px;
        font-size: 14px;
        pointer-events: none;
        color: #9b9b9b;
    }

    select {
        width: 100%;
        padding: 3px 30px 3px 0px;
        background: $color-solid-white;
        border-radius: 2px;
        border: none;
        border: 1px solid #e1e1e1;
        border-color: $color-mercury-grey;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
        outline: none;
        option {
            box-sizing: content-box;
            padding: 10px;
        }
        &:focus {
            outline: none;
            border: none;
            border: 1px solid #e1e1e1;
        }
    }

}
