.data-table {
	table {
		border-radius: 2px;
		background-color: #fff;
		border-radius: 2px;
		background-color: #fff;
		width: 100%;
		font-size: 14px;
	}
	th:hover {
        background: #fafafb;
    }
    th:hover .arrow {
        opacity: 1;
    }
    .arrow-show {
        opacity: 1;
        background: #fafafb;
    }

	th {
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	th,	td {
		// min-width: 120px;
		padding: 10px 20px;
	}

	td {
		text-transform: uppercase;
	}

	th.active .arrow {
		opacity: 1;
	}

	thead {
	    tr {
	        border-top: 1px solid #f1f1f1;
	    }
	    th:nth-child(1) {
	        background: #fafafb;
	    }
	    th {
	        cursor: pointer;
	        font-size: 0.85rem;
	        font-weight: 400;
	        color: #9b9b9b;
	    }
	    th:hover {
	        background: #fafafb;
	    }
	    th:hover .arrow {
	        opacity: 1;
	    }
	    .arrow-show {
	        opacity: 1;
	        background: #fafafb;
	    }
	    th:nth-child(1) {
	        // min-width: 150px;
	        text-align: left !important;
	        .arrow {
	            float: right !important;
	        }
	    }
	    th:nth-child(3) {
	        background: #FFF;
	        cursor: default;
	    }
	    th:nth-child(4) {
	        padding-right: 15px !important;
	        background: #FFF;
	        cursor: default;
	    }
	}
	tbody {
		tr.search-term-absent {
			display: none;
		}
	}
	.arrow {
        display: inline-block;
        float: left;
        position: relative;
        top: 7px;
        border: solid #9b9b9b;
        border-width: 0 1px 1px 0;
        padding: 3px;
        opacity: 0;
    }
    .arrow.asc {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }
    .arrow.desc {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        top: 3px !important;
		}
		ul {
			list-style-type: none;
			margin-left: 200px;
		}
		li {
				cursor: pointer;
				display: inline;
				margin: 5px 5px;
		}
		li.selected {
				color: #0059c1;
				text-decoration: underline;
		}
}
