html, body {
    font-size: 16px;
}
.navbar {
    z-index: 15 !important;
}
.theme-default-content:not(.custom), .page-nav {
    max-width: 1040px !important;
    padding: 2rem 4.5rem 2rem 2rem !important;
    box-sizing: border-box;
}
.data-table tr:nth-child(2n) {
    background-color: #FFF !important;
}
.language-js.extra-class, .language-css.extra-class, .language-bash.extra-class, .language-html.extra-class, .language-vue.extra-class, .language-json.extra-class, .language-template.extra-class {
    background-color: #f9f9f9;
}
.theme-default-content pre code, .theme-default-content pre[class="language-html, language-vue"] code {
    color: #3f536e !important;
}
.token.property, .token.class-name, .token.constant, .token.symbol {
    color: #2a2a2a !important;
}
div:focus {outline:0;}

.color-circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    float: left;
    margin-right: 10px;
}
.color-name {
    font-weight: bold;
    margin-bottom: 5px;
}


@import "_colors.scss";
@import "_helpers.scss";
@import "_animate.scss";
@import "_button.scss";
@import "_loader.scss";
@import "_input.scss";
@import "_radio.scss";
@import "_checkbox.scss";
@import "_switch.scss";
@import "_modal.scss";
@import "_otp.scss";
@import "_toast.scss";
@import "_table.scss";